html {
    font-size: 14px;
}

@media (min-width: 768px) {
    html {
        font-size: 16px;
    }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 60px;
}

/* Menu lateral */
.sidebar {
    position: fixed;
    top: 0px;
    left: -260px;
    width: 260px;
    height: 100%;
    background-color: #E0E0E0;
    transition: 0.3s;
    z-index: 1000;
    padding-top: 60px;
}

    .sidebar.active {
        left: 0;
    }

    .sidebar a {
        color: #333;
        text-decoration: none;
        font-weight: 500;
    }

        .sidebar a:hover,
        .sidebar .active-link {
            background: #fff;
            border-radius: 8px;
            padding: 6px 12px;
        }

/* Bot�o adicionar */
.btn-add {
    background-color: #4CAF50;
    color: white;
    border-radius: 50%;
    font-size: 24px;
    width: 45px;
    height: 45px;
    display: flex;
    align-items: center;
    justify-content: center;
}

/* �cones a��es */
.icon-action {
    font-size: 20px;
    margin-right: 8px;
    cursor: pointer;
}

.icon-view {
    color: #007bff;
}

.icon-edit {
    color: #28a745;
}

.icon-delete {
    color: #dc3545;
}

/* Tabela */
.table-custom {
    border-radius: 10px;
    overflow: hidden;
}

form input,
form textarea {
    border: 1px solid #ccc;
    font-size: 1.1rem;
    padding: 10px;
}

    form input:focus,
    form textarea:focus {
        border-color: #679C67;
        box-shadow: 0 0 5px rgba(103, 156, 103, 0.5);
    }

.btn-success {
    background-color: #679C67;
    border-color: #679C67;
}

    .btn-success:hover {
        background-color: #558755;
        border-color: #558755;
    }


/* Paleta de cores CuidaPet */
.bg-gray-light {
    background-color: #F0F0F0;
}
.bg-gray-medium {
    background-color: #D0D0D0;
}
.bg-gray-dark {
    background-color: #484848;
}
.bg-green-primary {
    background-color: #6EA06C;
}
.bg-green-light {
    background-color: #A9E4AF;
}
.bg-white-primary {
    background-color: #F8F8F8;
}
.btn-gray {
    background-color: #D0D0D0;
}
.btn-green-primary {
    color: #4E7A4D;
}
.btn-green-primary:hover {
    color: #1e3d14;
}
.text-primary {
    color: #1A1A1A;
}

table th, table thead {
    border: none !important;
    border-style: none !important;
}

.table-custom {
  border-radius: 0;
  overflow: hidden;
}
